*{
    box-sizing: border-box;
    font-family: "Microsoft Jhenghei";
}
html,body,h1,h2,h3,h4,h5,h6,ul,li,ol,a{
    margin:0;
    padding: 0;
}
img{
    width: 100%;
    vertical-align: middle;
}
.no-padding{
    padding: 0px!important;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.vam{
    font-size: 0;
}
.vam>*{
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}
.vam::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
}


